<div class="container text-center col-4">
  <h4><%= action_name == 'edit' ? 'Edit Hero' : 'Create Hero' %></h4>
  <%= form_for(@hero) do |f| %>
    <% if @hero.errors.any? %>
      <div id="error_explanation">
        <h2><%= pluralize(@hero.errors.count, "error") %> prohibited this hero from being saved:</h2>

        <ul>
        <% @hero.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    <% end %>

    <div class="fields">
      <%= f.label :name, class: 'form-label' %><br />
      <%= f.text_field :name, class: 'form-control' %>
      <%= f.label :rank, class: 'form-label' %><br />
      <%= f.select(:rank, options_for_select(["S", "A", "B", "C"]), { prompt: "Selecione" }, { class: 'custom-select'}) %>
    </div>
    <div class="actions mt-2">
      <%= f.submit "Send", class: 'btn btn-primary' %>
      <% if action_name == 'edit' %>
        <%= link_to 'Voltar', hero_path(@hero), class: 'btn btn-outline-primary' %>
      <% else %>
        <%= link_to 'Voltar', heros_path, class: 'btn btn-outline-primary' %>
      <% end %>
    </div>

  <% end %>
</div>
