<div class="container text-center">
  <h1>Listing Heros</h1>
  <%= link_to 'New hero', new_hero_path, class: 'btn btn-primary' %>
  <%= link_to 'Threats', threats_path, class: 'btn btn-outline-primary' %>
  <div class="row mt-2">
  <% @heros.each do |hero| %>
    <div class="card col-4 mt-2">
        <div class="card-header">
          <div>
            <strong><%= hero.name %></strong>
          </div>
          <div>
            Rank: <%= hero.rank %>
          </div>
        </div>
      <div class="card-body card-hero">
        <%= link_to 'Show', hero, class: 'btn btn-primary' %>
        <%= link_to 'Edit', edit_hero_path(hero), class: 'btn btn-outline-primary' %>
        <%= link_to 'Destroy', hero, method: :delete, data: { confirm: 'Are you sure?' }, class: 'btn btn-danger' %>
      </div>
    </div>
  <% end %>
  </div>
</div>
