<div class="container">
  <h1>Hero: <%= @hero.name %></h1>
  <h6>Rank: <%= @hero.rank %></h6>
  <h6>History:</h6>
  <% @hero.threats.each do |threat| %>
    <p><%= threat.monstername %></p>
  <% end %>
  <%= link_to "Heros", heros_path, class: 'btn btn-primary' %>
  <%= link_to "Edit", edit_hero_path, class: 'btn btn-outline-primary' %>
</div>
