<div class="card col-4">
  <div class="card-header">
    <div>
      <strong><%= threat.monstername %></strong>
    </div>
    <div>
      Danger: <%= threat.dangerlevel %>
    </div>
    <img src="https://api.adorable.io/avatars/30/abott@adorable.png" alt="">
  </div>
  <div class="card-body">
    <h6>Location</h6>
    <p>Lat: <%= threat.lat %> / Long: <%= threat.long %></p>
  </div>
  <div class="card-footer">
    <h6>Defeated By: <%= threat.hero.name %></h6>
  </div>
</div>
