<!DOCTYPE html>
<html>
  <head>
    <title>Iheroes</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= action_cable_meta_tag %>
  </head>

  <body>
   <%= render 'shared/header' %>
   <p class="alert"><%= alert %></p>
    <%= yield %>
  </body>
</html>
