// Place all the styles related to the heros controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card {
  padding: 5px;
}


.card-hero {
  flex-direction: row;
}

.container .fields {

  max-width: 600px;
}
