// Place all the styles related to the threats controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

img {
  border-radius: 50%;
  width: 100px;
}
.threats-list {
  justify-content: center;
}

.card {
  border-radius: 5px;
  border: 1px solid #eee;
  .card-header {
    background: transparent;
    display: flex;
    justify-content: space-between;
  }
  .card-body {
    background: transparent;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

}
